.form
  = form_for @question do |f| 
    .form-title
      %h1 We're here to help!
      =image_tag "grover_side.png", height: 100
    %p= f.text_field :title, {class: "text", placeholder: "your question"}
    %p= f.text_area :content, {class: "textarea", placeholder: "some helpful details"}
    %p= f.submit 'Ask!', {class: "submit"}
    - if @errors
      - @errors.each do |error|
        %p= error