.container
  - if @errors
    - @errors.each do |error|
      %p= error
  .col-lg-12
%h1 Create a Post
= form_for @question do |f|
  %p Question
  %p= f.text_field :title
  %p Details
  %p= f.text_area :content
  %p= f.submit value: 'Ask that shit'
