.container
  - if @errors
    - @errors.each do |error|
      %p= error
  .col-lg-12
%h1 Create a Post
= form_for @question do |f|
  = f.text_field :title
  = f.text_area :content
  = f.submit value: 'Ask that shit'
