= form_for @user do |f|
  .form-title
    %h1 Signup
  %p= f.email_field :email, {class: "text", placeholder: "amazing email"}
  %p= f.text_field :username, {class: "text", placeholder: "super username"}
  %p= f.password_field :password, {class: "text", placeholder: "fantastic password"}
  - if @errors
    - @errors.each do |error|
      %p.error= error
  %br
  = f.submit "Signup", {class: "submit"}
  

